@model IEnumerable<QnA.Models.Questions>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>

    <ul class="divided">
        <li class="col-md-offset-3 col-md-6 col-lg-offset-3">
            <h2 class="major"><span>All Yout Questions</span></h2>
                @foreach (var item in Model)
                {
                    <div class="jumbotron">
                        <article class="box post-summary">
                            <h5>
                                @Html.DisplayFor(modelItem => item.Header)
                            </h5>
                            <h5>
                                @Html.DisplayFor(modelItem => item.Body)
                            </h5>
                        </article>
                    </div>
                }

        </li>
    </ul>
</section>