@model QnA.Models.User

@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AutheticationLayout.cshtml";
}

<form class="form-login" asp-action="SignIn" role="form">
    <h2 class="form-login-heading"> USER SIGN IN </h2>
    @if (ViewData["mismatch"] != null && Convert.ToString(ViewData["mismatch"]) != " ")
    {
        <h5 style="padding-left:1em;" class="text-danger">@ViewData["mismatch"]</h5>
    }
    <div class="login-wrap">
        <input asp-for="Email" type="text" class="form-control" placeholder="Email" autofocus />
        <br />

        <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>


        <input asp-for="FirstName" type="text" hidden />
        <input asp-for="LastName" type="text" hidden />
        <input asp-for="UserId" type="text" hidden />
        <input asp-for="ConfirmPassword" type="text" hidden />


        @*<label class="checkbox">
                <span class="pull-right">
                    <a data-toggle="modal" href="login.html#myModal"> Forgot Password?</a
                </span>
            </label>*@
        <br />
        <button class="btn btn-theme btn-block" type="submit" value="SignIn"><i class="fa fa-lock"></i> SIGN IN</button>
        <hr />

        @*<div class="login-social-link centered">
                <p>or you can sign in via your social network</p>
                <button class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</button>
                <button class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</button>
            </div>*@
        <div class="registration">
            Don't have an account yet?<br />
            <a class="" asp-action="Register">
                Create an account
            </a>
        </div>
    </div>

</form>