@model QnA.Models.Answers


<!--MODAL HEADER-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3> <strong> ADD ANSWER </strong> </h3>
</div>



<form asp-action="AddAnswer">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!--MODAL BODY-->
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="row">
                <label>Body</label>
                <div class="col-md-10">
                    <textarea asp-for="Body" class="form-control " ></textarea>
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <!--MODAL FOOTER-->
    <div class="modal-footer">
        <div class="row pull-right">
            <div class="col-md-12">
                <input type="submit" value="Add" class="btn btn-primary" />
                <input type="hidden" asp-for="QuestionsId" />
                <a class="btn btn-danger" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
