@model IEnumerable<QnA.Models.Questions>


@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    
        <ul class="divided">
            <li class="col-md-offset-3 col-md-6 col-lg-offset-3">
                <h2 class="major"><span>Welcom to the QnA Program</span></h2>
                @foreach (var item in Model)
                {
                <div class="jumbotron">
                    <article class="box post-summary">
                        <h3>
                            @Html.DisplayFor(modelItem => item.Header)
                        </h3>
                        <h5>
                            @Html.DisplayFor(modelItem => item.Body)
                        </h5>
                        <a class="btn btn-sm btn-primary pull-right" asp-controller="Answers" asp-route-id="@item.QuestionsId">Answers</a>
                    </article>
                </div>
                }
                
            </li>
        </ul>
</section>